<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Асинхронная запись с повтором при ошибке - http-запросов, ошибок в системе и вывод в консоль-->
    <targets async="true">
        <default-wrapper xsi:type="RetryingWrapper" />  
        <target name="logRequests" 
                xsi:type="File" 
                fileName="${basedir}/logs/httpRequests.txt" 
                archiveFileName="${basedir}/logs/archive/httpRequests.{####}.txt"
                archiveAboveSize="10000240" />
        <target name="logTroubles" 
                xsi:type="File" 
                fileName="${basedir}/logs/troubles.txt"
                archiveFileName="${basedir}/logs/archive/troubles.{####}.txt"
                archiveAboveSize="10240" />
        <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" />
        <target name="logDirectoryEvents" 
                xsi:type="File" 
                fileName="${basedir}/logs/directoryEvents.txt"
                archiveFileName="${basedir}/logs/archive/directoryEvents.{####}.txt"
                archiveAboveSize="10240" />
        <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" />
    </targets>

    <!-- Синхронная запись с повтором при ошибке - для ошибок, останавливающих работу программы-->
    <targets>
        <default-wrapper xsi:type="RetryingWrapper" />      
        <target name="logBigTroubles" 
                xsi:type="File" 
                fileName="${basedir}/logs/bigTroubles.txt"
                archiveFileName="${basedir}/logs/archive/bigTroubles.{####}.txt"
                archiveAboveSize="10240" />
    </targets>


    <!-- Распределение по таргетам самое простое - на основе уровней-->
    <rules>
        <logger name="*" level="Error" writeTo="logBigTroubles" />
        <logger name="*" level="Warn" writeTo="logTroubles" />
        <logger name="*" level="Info" writeTo="logRequests" />
        <logger name="*" level="Debug" writeTo="logconsole" />
        <logger name="*" level="Trace" writeTo="logDirectoryEvents" />
    </rules>
</nlog>